.button {
  font-weight: 500;
  letter-spacing: var(--spacing-1);
}

.buttonGroup {
  margin-left: auto;
}

.container {
  display: block;
  margin: var(--spacing-6) auto;
  padding: var(--spacing-5);
}

.icon {
  margin-right: var(--spacing-4);
}